In [1]:
import pandas as pd
import numpy as np

import cehd

In [2]:
pre_assembled_file = 'Input/Processed/osha_data.csv'
raw_database = pd.read_csv(pre_assembled_file, index_col=0)

C:\Users\jmank\AppData\Local\Temp\ipykernel_32920\3671417341.py:2: DtypeWarning: Columns (1,6,10,11,19) have mixed types. Specify dtype option on import or set low_memory=False.
  raw_database = pd.read_csv(pre_assembled_file, index_col=0)

In [3]:
path_settings = {
    'qualif_conv_file' : 'Input/Raw/OSHA/CEHD/CEHD1984_2018/cleaning scripts/Conversion tables/qualif_new_2020.csv',
    'unit_conv_file' : 'Input/Raw/OSHA/CEHD/CEHD1984_2018/cleaning scripts/Conversion tables/unit_conv_2020.csv'
} 

database = cehd.clean_cehd_data(raw_database, path_settings)

database

,AIR_VOLUME_SAMPLED,BLANK_USED,CITY,DATE_REPORTED,DATE_SAMPLED,EIGHT_HOUR_TWA_CALC,ESTABLISHMENT_NAME,FIELD_NUMBER,IMIS_SUBSTANCE_CODE,INSPECTION_NUMBER,...,TIME_SAMPLED,UNIT_OF_MEASUREMENT,YEAR,ZIP_CODE,CENSORED,SAMPLE_RESULT_2,UNIT_OF_MEASUREMENT_2,QUALIFIER_2,SAMPLE_WEIGHT_2,SAMPLE_RESULT_3
4,74.000,N,East Farmingdale,1984-04-27,1984-04-04,NaN,MID ISLAND NON FERROUS FOUNDRY,2LI84-49,1591,111252,...,37.0,M,1984,11735.0,N,0.0640,M,detected,0.000,0.0640
7,74.000,N,East Farmingdale,1984-04-27,1984-04-04,NaN,MID ISLAND NON FERROUS FOUNDRY,2LI84-49,1840,111252,...,37.0,M,1984,11735.0,N,0.0000,M,ND,0.000,0.0000
9,74.000,N,East Farmingdale,1984-04-27,1984-04-04,NaN,MID ISLAND NON FERROUS FOUNDRY,2LI84-49,0731,111252,...,37.0,M,1984,11735.0,N,0.0063,M,detected,0.000,0.0063
10,0.783,N,Passaic,1984-05-18,1984-05-02,NaN,PANTASOTE INC,K168,2580,113951,...,15.0,P,1984,7055.0,N,1.3000,P,detected,0.000,1.3000
11,0.783,N,Passaic,1984-05-18,1984-05-02,NaN,PANTASOTE INC,K168B,2580,113951,...,15.0,P,1984,7055.0,N,0.0000,P,ND,0.000,0.0000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2395030,443.700,N,NaN,2018-09-19,2018-09-06,N,NaN,03706E,9130,318054095,...,261.0,M,2018,NaN,N,0.0610,M,detected,0.027,0.0610
2395036,10.830,N,NaN,2018-04-10,2018-03-07,N,NaN,A1,0560,318091360,...,361.0,P,2018,NaN,N,28.1765,P,detected,0.000,28.1765
2395037,2.220,N,NaN,2018-04-10,2018-03-07,N,NaN,A2,0560,318091360,...,74.0,P,2018,NaN,N,40.1250,P,detected,0.000,40.1250
2395038,17.400,N,NaN,2018-04-10,2018-03-07,N,NaN,B1,0560,318091360,...,348.0,P,2018,NaN,N,10.5665,P,detected,0.000,10.5665
2395039,4.400,N,NaN,2018-04-10,2018-03-07,N,NaN,B2,0560,318091360,...,88.0,P,2018,NaN,N,7.8590,P,detected,0.000,7.8590

In [4]:
r_database = pd.read_parquet('database.parquet')

r_database

,AIR_VOLUME_SAMPLED,BLANK_USED,CITY,DATE_REPORTED,DATE_SAMPLED,EIGHT_HOUR_TWA_CALC,ESTABLISHMENT_NAME,FIELD_NUMBER,IMIS_SUBSTANCE_CODE,INSPECTION_NUMBER,...,TIME_SAMPLED,UNIT_OF_MEASUREMENT,YEAR,ZIP_CODE,CENSORED,SAMPLE_RESULT_2,UNIT_OF_MEASUREMENT_2,QUALIFIER_2,SAMPLE_WEIGHT_2,SAMPLE_RESULT_3
0,74.000,N,East Farmingdale,1984-04-27,1984-04-04,NaN,MID ISLAND NON FERROUS FOUNDRY,2LI84-49,1591,111252,...,37.0,M,1984,11735,N,0.0640,M,detected,0.000,0.0640
1,74.000,N,East Farmingdale,1984-04-27,1984-04-04,NaN,MID ISLAND NON FERROUS FOUNDRY,2LI84-49,1840,111252,...,37.0,M,1984,11735,N,0.0000,M,ND,0.000,0.0000
2,74.000,N,East Farmingdale,1984-04-27,1984-04-04,NaN,MID ISLAND NON FERROUS FOUNDRY,2LI84-49,0731,111252,...,37.0,M,1984,11735,N,0.0063,M,detected,0.000,0.0063
3,0.783,N,Passaic,1984-05-18,1984-05-02,NaN,PANTASOTE INC,K168,2580,113951,...,15.0,P,1984,07055,N,1.3000,P,detected,0.000,1.3000
4,0.783,N,Passaic,1984-05-18,1984-05-02,NaN,PANTASOTE INC,K168B,2580,113951,...,15.0,P,1984,07055,N,0.0000,P,ND,0.000,0.0000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1330037,443.700,N,None,2018-09-19,2018-09-06,N,None,03706E,9130,318054095,...,261.0,M,2018,000NA,N,0.0610,M,detected,0.027,0.0610
1330038,10.830,N,None,2018-04-10,2018-03-07,N,None,A1,0560,318091360,...,361.0,P,2018,000NA,N,28.1765,P,detected,0.000,28.1765
1330039,2.220,N,None,2018-04-10,2018-03-07,N,None,A2,0560,318091360,...,74.0,P,2018,000NA,N,40.1250,P,detected,0.000,40.1250
1330040,17.400,N,None,2018-04-10,2018-03-07,N,None,B1,0560,318091360,...,348.0,P,2018,000NA,N,10.5665,P,detected,0.000,10.5665
1330041,4.400,N,None,2018-04-10,2018-03-07,N,None,B2,0560,318091360,...,88.0,P,2018,000NA,N,7.8590,P,detected,0.000,7.8590

In [5]:
len(database) == len(r_database)

True