In [1]:
import pandas as pd
import numpy as np

import cehd

In [2]:
pre_assembled_file = 'Input/Processed/osha_data.csv'
raw_database = pd.read_csv(pre_assembled_file, index_col=0)

C:\Users\jmank\AppData\Local\Temp\ipykernel_5528\3671417341.py:2: DtypeWarning: Columns (1,6,10,11,19) have mixed types. Specify dtype option on import or set low_memory=False.
  raw_database = pd.read_csv(pre_assembled_file, index_col=0)

In [3]:
database = cehd.pre_clean(raw_database)

database

,AIR_VOLUME_SAMPLED,BLANK_USED,CITY,DATE_REPORTED,DATE_SAMPLED,EIGHT_HOUR_TWA_CALC,ESTABLISHMENT_NAME,FIELD_NUMBER,IMIS_SUBSTANCE_CODE,INSPECTION_NUMBER,...,SAMPLE_TYPE,SAMPLE_WEIGHT,SAMPLING_NUMBER,SIC_CODE,STATE,SUBSTANCE,TIME_SAMPLED,UNIT_OF_MEASUREMENT,YEAR,ZIP_CODE
0,516.000,N,Plainview,1984-06-15,1984-05-07,NaN,CONTROLLED CASTINGS CORP,2LI8491,T100,111211,...,P,NaN,111211,3365.0,NY,Thorium,258.0,M,1984,11803.0
1,NaN,Y,Plainview,1984-06-15,1984-05-07,NaN,CONTROLLED CASTINGS CORP,2LI8492,T100,111211,...,P,NaN,111211,3365.0,NY,Thorium,NaN,None,1984,11803.0
2,76.000,N,Plainview,1984-06-15,1984-05-07,NaN,CONTROLLED CASTINGS CORP,2LI8493,T100,111211,...,P,NaN,111211,3365.0,NY,Thorium,38.0,M,1984,11803.0
3,NaN,Y,Plainview,1984-06-15,1984-05-07,NaN,CONTROLLED CASTINGS CORP,2LI8494,T100,111211,...,P,NaN,111211,3365.0,NY,Thorium,NaN,None,1984,11803.0
4,74.000,N,East Farmingdale,1984-04-27,1984-04-04,NaN,MID ISLAND NON FERROUS FOUNDRY,2LI84-49,1591,111252,...,P,0.0,111252,3365.0,NY,"Lead, Inorganic (as Pb)",37.0,M,1984,11735.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2395066,57.652,N,nan,2018-03-05,2018-01-23,N,nan,6,2042,806189446,...,P,NaN,806189446,NaN,NaN,p-Phenylene Diamine,58.0,M,2018,00nan
2395067,NaN,Y,nan,2018-03-05,2018-01-23,N,nan,7,2042,806189446,...,P,NaN,806189446,NaN,NaN,p-Phenylene Diamine,NaN,X,2018,00nan
2395068,NaN,N,nan,2018-06-07,2018-05-31,N,nan,F,S777,Q130304018,...,B,NaN,Q130304018,NaN,NaN,Soil,NaN,N,2018,00nan
2395069,NaN,N,nan,2018-06-07,2018-05-31,N,nan,H,S777,Q130304018,...,B,NaN,Q130304018,NaN,NaN,Soil,NaN,N,2018,00nan
2395070,NaN,N,nan,2018-06-07,2018-05-31,N,nan,J,S777,Q130304018,...,B,NaN,Q130304018,NaN,NaN,Soil,NaN,N,2018,00nan

In [4]:
r_database = pd.read_parquet('database.parquet')

r_database

,AIR_VOLUME_SAMPLED,BLANK_USED,CITY,DATE_REPORTED,DATE_SAMPLED,EIGHT_HOUR_TWA_CALC,ESTABLISHMENT_NAME,FIELD_NUMBER,IMIS_SUBSTANCE_CODE,INSPECTION_NUMBER,...,SAMPLE_TYPE,SAMPLE_WEIGHT,SAMPLING_NUMBER,SIC_CODE,STATE,SUBSTANCE,TIME_SAMPLED,UNIT_OF_MEASUREMENT,YEAR,ZIP_CODE
0,516.000,N,Plainview,1984-06-15,1984-05-07,NaN,CONTROLLED CASTINGS CORP,2LI8491,T100,111211,...,P,NaN,5245543.0,3365,NY,Thorium,258.0,M,1984,11803
1,NaN,Y,Plainview,1984-06-15,1984-05-07,NaN,CONTROLLED CASTINGS CORP,2LI8492,T100,111211,...,P,NaN,5245543.0,3365,NY,Thorium,NaN,None,1984,11803
2,76.000,N,Plainview,1984-06-15,1984-05-07,NaN,CONTROLLED CASTINGS CORP,2LI8493,T100,111211,...,P,NaN,5245501.0,3365,NY,Thorium,38.0,M,1984,11803
3,NaN,Y,Plainview,1984-06-15,1984-05-07,NaN,CONTROLLED CASTINGS CORP,2LI8494,T100,111211,...,P,NaN,5245501.0,3365,NY,Thorium,NaN,None,1984,11803
4,74.000,N,East Farmingdale,1984-04-27,1984-04-04,NaN,MID ISLAND NON FERROUS FOUNDRY,2LI84-49,1591,111252,...,P,0.0,5245345.0,3365,NY,"Lead, Inorganic (as Pb)",37.0,M,1984,11735
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2395066,57.652,N,nan,2018-03-05,2018-01-23,N,nan,6,2042,806189446,...,P,NaN,WA20180202B,NaN,nan,p-Phenylene Diamine,58.0,M,2018,00NaN
2395067,NaN,Y,nan,2018-03-05,2018-01-23,N,nan,7,2042,806189446,...,P,NaN,WA20180202B,NaN,nan,p-Phenylene Diamine,NaN,X,2018,00NaN
2395068,NaN,N,nan,2018-06-07,2018-05-31,N,nan,F,S777,Q130304018,...,B,NaN,CA2018060401,NaN,nan,Soil,NaN,N,2018,00NaN
2395069,NaN,N,nan,2018-06-07,2018-05-31,N,nan,H,S777,Q130304018,...,B,NaN,CA2018060401,NaN,nan,Soil,NaN,N,2018,00NaN
2395070,NaN,N,nan,2018-06-07,2018-05-31,N,nan,J,S777,Q130304018,...,B,NaN,CA2018060401,NaN,nan,Soil,NaN,N,2018,00NaN

In [5]:
diff_columns = cehd.compare_columns(database, r_database)

diff_columns

['BLANK_USED',
 'DATE_REPORTED',
 'DATE_SAMPLED',
 'EIGHT_HOUR_TWA_CALC',
 'ESTABLISHMENT_NAME',
 'FIELD_NUMBER',
 'IMIS_SUBSTANCE_CODE',
 'INSPECTION_NUMBER',
 'LAB_NUMBER',
 'NAICS_CODE',
 'OFFICE_ID',
 'SAMPLE_RESULT',
 'SAMPLE_TYPE',
 'SAMPLING_NUMBER',
 'SIC_CODE',
 'STATE',
 'SUBSTANCE',
 'YEAR',
 'ZIP_CODE']