In [1]:
import pandas as pd
import numpy as np
import os
import chardet

import osha
import rdkit_helper

In [4]:
osha_dir = 'Input/Raw/OSHA/healthsamples'
osha_dir = 'Input/Raw/OSHA/CEHD/CEHD1984_2018/rawdata'

rename_mapper = {
    'EIGHT_HR_TWA_CALC': 'EIGHT_HOUR_TWA_CALC',
    'BLANK_SAMPLE': 'BLANK_USED'
}

In [5]:
%%time 

osha_data = osha.load_osha_data(osha_dir, rename_mapper)

osha_data

Loading 1984 data...
Loading 1985 data...
Loading 1986 data...
Loading 1987 data...
Loading 1988 data...
Loading 1989 data...
Loading 1990 data...
Loading 1991 data...
Loading 1992 data...
Loading 1993 data...
Loading 1994 data...
Loading 1995 data...
Loading 1996 data...
Loading 1997 data...
Loading 1998 data...
Loading 1999 data...
Loading 2000 data...
Loading 2001 data...
Loading 2002 data...
Loading 2003 data...
Loading 2004 data...
Loading 2005 data...
Loading 2006 data...
Loading 2007 data...
Loading 2008 data...
Loading 2009 data...
Loading 2010 data...
Loading 2011 data...
Loading 2013 data...
Loading 2014 data...
Loading 2015 data...
Loading 2016 data...
Loading 2017 data...
Loading 2018 data...
CPU times: total: 46.8 s
Wall time: 3min 5s

,YEAR,INSPECTION_NUMBER,ESTABLISHMENT_NAME,CITY,STATE,ZIP_CODE,SIC_CODE,NAICS_CODE,SAMPLING_NUMBER,OFFICE_ID,...,BLANK_USED,TIME_SAMPLED,AIR_VOLUME_SAMPLED,IMIS_SUBSTANCE_CODE,SUBSTANCE,SAMPLE_RESULT,UNIT_OF_MEASUREMENT,QUALIFIER,SAMPLE_WEIGHT,EIGHT_HOUR_TWA_CALC
0,1984,111211,CONTROLLED CASTINGS CORP,Plainview,NY,11803.0,3365.0,0.0,5245543.0,214700.0,...,N,258.0,516.0000,T100,Thorium,0.0005,M,None,NaN,NaN
1,1984,111211,CONTROLLED CASTINGS CORP,Plainview,NY,11803.0,3365.0,0.0,5245543.0,214700.0,...,Y,NaN,None,T100,Thorium,0.0000,None,BLK,NaN,NaN
2,1984,111211,CONTROLLED CASTINGS CORP,Plainview,NY,11803.0,3365.0,0.0,5245501.0,214700.0,...,N,38.0,76.0000,T100,Thorium,0.0160,M,None,NaN,NaN
3,1984,111211,CONTROLLED CASTINGS CORP,Plainview,NY,11803.0,3365.0,0.0,5245501.0,214700.0,...,Y,NaN,None,T100,Thorium,0.0000,None,BLK,NaN,NaN
4,1984,111252,MID ISLAND NON FERROUS FOUNDRY,East Farmingdale,NY,11735.0,3365.0,0.0,5245345.0,214700.0,...,N,37.0,74.0000,1591,"Lead, Inorganic (as Pb)",0.0640,M,None,0.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42993,2018,806189446,NaN,NaN,NaN,NaN,NaN,NaN,WA20180202B,1055300.0,...,N,58.0,57.652,2042,p-Phenylene Diamine,0.0000,M,ND,NaN,N
42994,2018,806189446,NaN,NaN,NaN,NaN,NaN,NaN,WA20180202B,1055300.0,...,Y,NaN,NaN,2042,p-Phenylene Diamine,0.0000,X,BLK,NaN,N
42995,2018,Q130304018,NaN,NaN,NaN,NaN,NaN,NaN,CA2018060401,950662.0,...,N,NaN,NaN,S777,Soil,0.0000,N,NaN,NaN,N
42996,2018,Q130304018,NaN,NaN,NaN,NaN,NaN,NaN,CA2018060401,950662.0,...,N,NaN,NaN,S777,Soil,0.0000,N,NaN,NaN,N
42997,2018,Q130304018,NaN,NaN,NaN,NaN,NaN,NaN,CA2018060401,950662.0,...,N,NaN,NaN,S777,Soil,0.0000,N,NaN,NaN,N

In [6]:
## Post-process the dataframe for backwards compatibility

osha_data = osha_data.astype(str)  # 'character' in R

osha_data = osha_data.reindex(sorted(osha_data.columns), axis=1)

osha_data

,AIR_VOLUME_SAMPLED,BLANK_USED,CITY,DATE_REPORTED,DATE_SAMPLED,EIGHT_HOUR_TWA_CALC,ESTABLISHMENT_NAME,FIELD_NUMBER,IMIS_SUBSTANCE_CODE,INSPECTION_NUMBER,...,SAMPLE_TYPE,SAMPLE_WEIGHT,SAMPLING_NUMBER,SIC_CODE,STATE,SUBSTANCE,TIME_SAMPLED,UNIT_OF_MEASUREMENT,YEAR,ZIP_CODE
0,516.0000,N,Plainview,1984/06/15 00:00:00,1984/05/07 00:00:00,nan,CONTROLLED CASTINGS CORP,2LI8491,T100,111211,...,P,nan,5245543.0,3365.0,NY,Thorium,258.0,M,1984,11803.0
1,None,Y,Plainview,1984/06/15 00:00:00,1984/05/07 00:00:00,nan,CONTROLLED CASTINGS CORP,2LI8492,T100,111211,...,P,nan,5245543.0,3365.0,NY,Thorium,nan,None,1984,11803.0
2,76.0000,N,Plainview,1984/06/15 00:00:00,1984/05/07 00:00:00,nan,CONTROLLED CASTINGS CORP,2LI8493,T100,111211,...,P,nan,5245501.0,3365.0,NY,Thorium,38.0,M,1984,11803.0
3,None,Y,Plainview,1984/06/15 00:00:00,1984/05/07 00:00:00,nan,CONTROLLED CASTINGS CORP,2LI8494,T100,111211,...,P,nan,5245501.0,3365.0,NY,Thorium,nan,None,1984,11803.0
4,74.0000,N,East Farmingdale,1984/04/27 00:00:00,1984/04/04 00:00:00,nan,MID ISLAND NON FERROUS FOUNDRY,2LI84-49,1591,111252,...,P,0.0,5245345.0,3365.0,NY,"Lead, Inorganic (as Pb)",37.0,M,1984,11735.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42993,57.652,N,nan,2018-MAR-05,2018-JAN-23,N,nan,6,2042,806189446,...,P,nan,WA20180202B,nan,nan,p-Phenylene Diamine,58.0,M,2018,nan
42994,nan,Y,nan,2018-MAR-05,2018-JAN-23,N,nan,7,2042,806189446,...,P,nan,WA20180202B,nan,nan,p-Phenylene Diamine,nan,X,2018,nan
42995,nan,N,nan,2018-JUN-07,2018-MAY-31,N,nan,F,S777,Q130304018,...,B,nan,CA2018060401,nan,nan,Soil,nan,N,2018,nan
42996,nan,N,nan,2018-JUN-07,2018-MAY-31,N,nan,H,S777,Q130304018,...,B,nan,CA2018060401,nan,nan,Soil,nan,N,2018,nan
42997,nan,N,nan,2018-JUN-07,2018-MAY-31,N,nan,J,S777,Q130304018,...,B,nan,CA2018060401,nan,nan,Soil,nan,N,2018,nan

In [7]:
processed_file = 'Input/Processed/OSHA_data_1984_2018.csv'

osha_data.to_csv(processed_file, index=False)